$color-text: #FFFFFF;
$color-background: #0f3369;
$color-highlight: #2388c2;

/*--------------------------------
 Functional Styles (Required)
---------------------------------*/

header { position: relative; }
.menu > li {
     list-style: none; 
     display: flex;	
    }

/* Nicolas Gallagher micro clearfix */


/*--------------------------------
 Presentation Styles (Editable)
---------------------------------*/

header {
    flex-direction: row;
    justify-content: space-around;
    display:flex;
	height: 100%;
    box-shadow: 1px 10px 15px -4px rgba(0,0,0,0.31);
}

header > h1 {
	margin: 0;
	padding: 0.785714286em;
	line-height: 1;
	font-size: 28px;
}

header > p {
    margin: 0;
	padding: 0.785714286em;
	line-height: 1;
	font-size: 28px;
	color: $color-text;
}

nav { 
    align-items: center;
	display: flex; 
    flex-direction: row-reverse;
}

.items {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    
}

.items > img {
    border-radius: 99%;
}





