@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1;
}

p,
a {
  font-family: 'Montserrat', sans-serif;
  color: $primary-color;
}

a,
a:link,
a:hover,
a:visited,
p:link,
a:active {
  text-decoration: none;
}

p:link,
a:hover {
    transition: all 0.3s ease-in-out;
  }

